aiohttp
async-timeout
attrs
beautifulsoup4
certifi
chardet
charset-normalizer
decorator
discord
discord.py
dotenv
fuzzywuzzy
greenlet
idna
importlib-metadata
multidict
prettytable
python-Levenshtein
requests
schedule
six
soupsieve
SQLAlchemy
typing_extensions
urllib3
validators
yarl
zipp
python-jose
passlib